<h2>Table of Contents</h2>

{% for w in site.weeks %}
	{% unless w.disabled %}
    <h4>
			Week {{ w.number }}:
			{{ w.title }}
    </h4>
    <ol>
    {% for p in site.lessons %}
      {% if p.week == w.number %}
        <li>
          <a href="{{ p.url }}">{{ p.title }}</a>
					{% if p.decks %}
						<small>—
						View the decks:
						<a target="_blank" href="{{ p.decks.haba }}">Habaneros</a>
						&bull;
						<a target="_blank" href="{{ p.decks.jala }}">Jalapeños</a>
						</small>
					{% elsif p.deck %}
          	<small>— <a target="_blank" href="{{ p.deck }}">View the Deck</a></small>
					{% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
	{% endunless %}
{% endfor %}
