$brand:		#F3F2EF;
$brand:		hsl(50, 15%, 95%);
$brand:		hsl(100, 15%, 95%);
$brand:		hsl(0, 0%, 95%);

$highlight: #f7c605;

$yellow:		#ffdb00;
$mint:			#85e8da;
$teal:			#1ecac7;
$burgundy:	#7a1743;
$pink:			#ffaec2;

