@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Oswald:700|Karla:400,700,700italic,400italic);

$ff-caption:		Karla, sans-serif;
$ff-body:				"Libre Baskerville", serif;
$ff-display:		Oswald, sans-serif;
$lh:						1.7;
