@import url(/assets/fonts/cooperhewitt/cooperhewitt.css);

$ff-caption:		'Whitney SSm A', 'Whitney SSm B', sans-serif;
$ff-body:				'Chronicle SSm A', 'Chronicle SSm B', serif;
$ff-display:		'Cooper Hewitt', sans-serif;
$lh:						1.7;
