---
layout: page
title: Contact Info
nav_title: Contact
permalink: /contact/
---

<h2>Students</h2>

<ul>
{% for student in site.data.students %}
	<li>
		{{ student.first }} {{ student.last }}
		<small>
			{% if student.twitter %}
				(<a href="https://twitter.com/{{ student.twitter }}">@{{ student.twitter }}</a>)
			{% endif %}
			{% if student.tumblr %}
				(<a href="https://{{ student.tumblr }}.tumblr.com/">{{ student.tumblr }}.tumblr.com</a>)
			{% endif %}
		</small>
	</li>
{% endfor %}
</ul>