---
layout: page
title: Contact Info
nav_title: Contact
permalink: /contact/
---

<h2>Students</h2>

<ul>
{% for s in site.data.students %}
	{% assign student = s[1] %}
	<li>
		{% if student.url %}
			<a href="{{ student.url }}">{{ student.first }} {{ student.last }}</a>
		{% else %}
			{{ student.first }} {{ student.last }}		
		{% endif %}
		<small>
			{% if student.tumblr %}
				(<a href="http://{{ student.tumblr }}.tumblr.com/">{{ student.tumblr }}.tumblr.com</a>)
			{% endif %}
			{% if student.twitter %}
				(<a href="https://twitter.com/{{ student.twitter }}">@{{ student.twitter }}</a>)
			{% endif %}
		</small>
	</li>
{% endfor %}
</ul>