---
---
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.course.abbreviation }} {{ site.data.course.iteration }} @ GA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.domain }}{{ site.baseurl }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.domain }}{{ site.baseurl }}assets/images/phasers.gif" />
	<meta property="og:site_name" content="{{ site.data.course.abbreviation }} {{ site.data.course.iteration }} @ GA" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<script>window.onload = function(){ document.body.className += " loaded"; }</script>
</head>
<body>

{% include header.html %}

<section id="main">
{{ content }}
</section>

<footer></footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57283945-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
