---
layout: project
---

{{ content }}

{% capture common %}
Methods
-------

1. Discovery and Research
	* Competitive/comparative analysis
	* Surveys
	* User research
	* Personas
2. Sketching and Ideation
	* User stories and storyboards
	* Rough sketches
	* Multiple possible designs
3. Narrowing Scope and Structure
	* User flows
	* Scenarios
	* Wireframes and sketches
	* Appmap / Sitemap
4. Prototyping and Testing
	* Prototype 
	* Usability testing and results
	* Multiple prototype iterations

End Deliverables
----------------

* Project Case Study Presentation
	* High-level personas
	* Sketches and proof of ideation process
	* Proof of design iterations
	* Wireframes
	* Key screens (mockups)
* Design specifications document
	* User flows
	* Appmap / Sitemap
	* Wireframes
	* Key Screen Mockups
* Interactive prototype
{% endcapture %}

{{ common | markdownify }}