---
layout: page
---

<!-- 
<h4>During</h4>
<ul>
{% for week in page.weeks %}
	{% for p in site.weeks %}
		{% if p.number == week %}
			<li>
				<a href="{{ p.url }}">
					<strong>Week {{ p.number }}</strong>:
					{{ p.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
{% endfor %}
</ul>
 -->

{% if page.briefs %}
	<h2>Project Briefs</h2>
	<ul>
		{% for b in site.briefs %}
			{% if b.project == page.number %}
				<li><a href="{{ b.url }}">{{ b.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

{{ content }}